<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umn.pinkpanthers.beerfinder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/app_name"
            android:theme="@style/MnTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchByZipActivity"
            android:label="@string/search_by_zip_label"
            android:theme="@style/MnTheme" >
        </activity>
        <activity
            android:name=".activities.SearchByBeerActivity"
            android:label="@string/search_by_brand_label"
            android:theme="@style/MnTheme" >
        </activity>
        <activity
            android:name=".activities.MapResultsActivity"
            android:label="@string/map_results_label"
            android:noHistory="true"
            android:theme="@style/MnTheme" >
        </activity>
        <activity
            android:name=".activities.ListResultsActivity"
            android:label="@string/list_results_label"
            android:noHistory="true"
            android:theme="@style/MnTheme" >
        </activity>
        <activity
            android:name=".activities.VenueActivity"
            android:label="@string/venue_label"
            android:theme="@style/MnTheme" >
        </activity>
    </application>

</manifest>